{% extends "base.html" %}

{% block content %}
<p>Assigned tasks:</p>
<ul>
  {% for task_assignation in thread.task_assignations %}
    <li>{{ task_assignation.poster.name }} ({{ task_assignation.poster.score }}) {{ task_assignation.task.name }} (+{{ task_assignation.task.reward}}, {{task_assignation.date}})</li>
  {% endfor %}
</ul>

<form action="{{ url_for('assign_task', thread_id=thread.id) }}" method="POST">
  <p>Assign task:
  <select name="task" required>
    <option value="">Select task...</option>
    {% for task in tasks %}
      <option value="{{ task.id }}">{{ task.name }}</option>
    {% endfor %}
  </select>
  <select name="poster" required>
    <option value="">Select poster...</option>
    {% for poster in posters %}
      <option value="{{ poster.id }}">{{ poster.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Add" />
  </p>
</form>
{% if registerable_senders %}
  <form action="{{ url_for('add_email') }}" method="POST">
    <p>Register unknown poster:
    <select name="email" required>
      <option value="">Select an address...</option>
      {% for email in registerable_senders %}
        <option value="{{ email }}">{{ email }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Register" />
    </p>
  </form>
{% endif %}

{% for msg in thread.messages %}
  <h2>{{ msg.subject }}</h2>
  {% if msg.poster_email %}
    <p class="known-poster">{{ msg.poster_email.poster.name }} ({{ msg.from_ }}) {{ msg.poster_email.poster.score }}</p>
  {% else %}
    <p class="unknown-poster" style="font-style: oblique;">{{ msg.from_ }}</p>
  {% endif %}
  <pre>{{ msg.text }}</pre>
{% endfor %}
{% endblock %}
